	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="~/Images/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="Colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Medical</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="~/Content/linearicons.css">=
			<link rel="stylesheet" href="~/Content/font-awesome.min.css">
			<link rel="stylesheet" href="~/Content/magnific-popup.css">
			<link rel="stylesheet" href="~/Content/nice-select.css">
			<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
			<link rel="stylesheet" href="~/Content/bootstrap.css">
			<link rel="stylesheet" href="~/Content/main.css">
		</head>
		<body>

			<!-- Start Header Area -->
			<header class="default-header">
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<a href="#home"><img src="~/Images/logo.png" alt=""></a>
							</div>
							<div class="main-menubar d-flex align-items-center">
								<nav class="hide">
									<a href="#home">Домой</a>
									<a href="#service">Преимущества</a>
									<a href="#appoinment">Записаться</a>
									<a href="#consultant">Специалисты</a>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- End Header Area -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="container">
						<div class="row fullscreen align-items-center justify-content-center" style="height: 700px;width: 1200px;">
							<div class="banner-content col-lg-6 col-md-12">
                                <h1>
                                    Стоматологическая<br>
                                    клиника
                                </h1>
                                <p>
                                    Мы создаем, и будем создавать в Казахстане новую культуру стоматологического здоровья,
                                    чтобы Ваши улыбки всегда были здоровыми, а Вы - их обладатели - счастливыми!
                                </p>
							</div>
							<div class="col-lg-6 d-flex align-self-end img-right">
								<img class="img-fluid" src="~/Images/header-img.png" alt="" style="width: 546px;">
							</div>
						</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start feature Area -->
			<section class="feature-area section-gap" id="service">
                <div class="container">
                    <div style="margin-bottom: 60px" class="flex">
                        <div class="col-lg-4">
                            <div class="single-feature d-flex flex-row pb-30">
                                <div class="icon">
                                    <span class="lnr lnr-rocket"></span>
                                </div>
                                <div style="padding-top:10px" class="desc">
                                    <h4 class="text-uppercase">Экспресс-лечение</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-feature d-flex flex-row pb-30">
                                <div class="icon">
                                    <span class="lnr lnr-chart-bars"></span>
                                </div>
                                <div style="padding-top:10px" class="desc">
                                    <h4 class="text-uppercase">Рентген-контроль</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-feature d-flex flex-row">
                                <div class="icon">
                                    <span class="lnr lnr-bug"></span>
                                </div>
                                <div class="desc">
                                    <h4 class="text-uppercase">Лечение самых <br>сложных случаев</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left: 200px" class="flex">
                        <div class="col-lg-4">
                            <div class="single-feature d-flex flex-row pb-30">
                                <div class="icon">
                                    <span class="lnr lnr-heart-pulse"></span>
                                </div>
                                <div style="padding-top:10px" class="desc">
                                    <h4 class="text-uppercase">Индивидуальный подход</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-feature d-flex flex-row">
                                <div class="icon">
                                    <span class="lnr lnr-users"></span>
                                </div>
                                <div class="desc">
                                    <h4 class="text-uppercase">Сертифицированные <br>специалисты</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</section>
			<!-- End feature Area -->


			<!-- Start about Area -->
			<section class="about-area" id="appoinment">
				<div class="container-fluid">
					<div class="row d-flex justify-content-end align-items-center">
						<div class="col-lg-6 col-md-12 about-left no-padding">
							<img class="img-fluid" src="~/Images/about-img.jpg" alt="">
						</div>
						<div class="col-lg-6 col-md-12 about-right no-padding">
							<h1>Перезвоним через <br> 10 секунд</h1>

                            <form action="/Main/SendData">
                                <div class="col-lg-10 d-flex flex-column">
                                    <input name="name" placeholder="Имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Имя'" class="form-control mt-20" required="" type="text" required>
                                </div>
                                <div class="col-lg-10 d-flex flex-column">
                                    <input name="phone" placeholder="Телефон" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Телефон'" class="form-control mt-20" required="" type="number" required>
                                </div><br>
                                <div class="col-lg-8 d-flex justify-content-end send-btn">
                                    <button class="submit-btn primary-btn mt-20 text-uppercase ">Оставить заявку<span class="lnr lnr-arrow-right"></span></button>
                                </div>
                            </form>
							</div>
						</div>
					</div>
			</section>
			<!-- End about Area -->

			<!-- Start consultans Area -->
			<section class="consultans-area section-gap" id="consultant">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-80 header-text">
							<h1>Наши специалисты</h1>
                            <p>
                                Уровень наших врачей подтвержден <br> лучшими стоматологическими центрами мира.
                            </p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="~/Images/1.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
                                            <h4>Айнура Досымовна</h4>
                                            <p>
                                                Стоматолог-терапевт
                                            </p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="~/Images/2.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
                                            <h4>Александр Сергеевич</h4>
                                            <p>
                                                Стоматолог–терапевт (взрослый)
                                            </p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="~/Images/3.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
                                            <h4>Жазира Абдыкалыковна</h4>
                                            <p>
                                                Детский стоматолог-терапевт
                                            </p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 vol-wrap">
							<div class="single-con">
								<div class="content">
								    <a href="#" target="_blank">
								      <div class="content-overlay"></div>
								  		 <img class="content-image img-fluid d-block mx-auto" src="~/Images/4.jpg" alt="">
								      	<div class="content-details fadeIn-bottom">
                                            <h4>Руслан Кайратович</h4>
                                            <p>
                                                Стоматолог-ортопед
                                            </p>
								      	</div>
								    </a>
								 </div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- End consultans Area -->

			<!-- Start fact Area -->
			<section class="facts-area pt-100 pb-10">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 single-fact">
							<h2 class="counter">100000</h2><br>
							<p style="color: #777" class="text-uppercase">Пациентов в год</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h2 class="counter">15000</h2><br>
							<p style="color: #777" class="text-uppercase">Установленных зубных имплантов</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h2 class="counter">20</h2><br>
							<p style="color: #777" class="text-uppercase">Лет на рынке</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h2 class="counter">10</h2><br>
							<p style="color: #777" class="text-uppercase">Клиник в разных городах страны</p>
						</div>
					</div>
				</div>
			</section>
			<!-- end fact Area -->

			<!-- Start blog Area -->
			<section class="blog-area section-gap">
				<div class="container">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aad14d392389f2f4a2a897b0f5ce0578ce85a313d401054798e29c8260f4b059f&amp;width=1150&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
				</div>
			</section>
			<!-- end blog Area -->

			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="flex">
						<div class="col-lg-2  col-md-6">
							<div class="single-footer-widget">
								<h6>Меню</h6>
                                <ul class="footer-nav">
                                    <li><a href="#home">Домой</a></li>
                                    <li><a href="#service">Преимущества</a></li>
                                    <li><a href="#appoinment">Записаться</a></li>
                                    <li><a href="#consultant">Специалисты</a></li>
                                </ul>
							</div>
						</div>
						<div class="col-lg-4  col-md-6">
                            <div class="single-footer-widget mail-chimp">
                                <h6 class="mb-20">Контакты</h6>
                                <p>
                                   г. Астана, ул. Сейфуллина 65, ЖК «Алтай»
                                </p>
                                <h3>8 (702) 465-41-34</h3>
                                <h3>8 (747) 688-14-66</h3>
                                <h3>8 (7172) 29-04-05</h3>
                            </div>
						</div>
					</div>

					<div class="flex footer-bottom d-flex justify-content-between">
						
						<div class="col-lg-4 col-sm-12 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->

			<script src="~/Scripts/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="~/Scripts/vendor/bootstrap.min.js"></script>
			<script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
			<script src="~/Scripts/jquery.nice-select.min.js"></script>
			<script src="~/Scripts/jquery.sticky.js"></script>
			<script src="~/Scripts/parallax.min.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script src="~/Scripts/jquery.magnific-popup.min.js"></script>
			<script src="~/Scripts/waypoints.min.js"></script>
			<script src="~/Scripts/jquery.counterup.min.js"></script>
			<script src="~/Scripts/main.js"></script>
		</body>
	</html>
